.post{
    border : solid 3px #1F262D;
    padding: 20px;
    text-align: left;
    margin: 0px 50px 50px;
    overflow: auto;
}

.horizontal{
    display: flex;
}

#profilePic{
    border-radius:100px;
    max-height:100px;
    max-width:100px;
}