.footerContainer{
    background-color: #14141c;
    display: flex;
    flex-direction: column;
    padding-top: 100px;
}

.footerContent{
    display: flex;
    flex-direction: row;
}

.firstCol{
    display: flex;
    flex-direction: column;
    max-width: 300px;
    margin-left: 100px;
    margin-top: 30px;
}
.firstCol button{
    background-color: black;
    font-weight: bold;
    color: white;
    border: solid 1px white;
    margin: 10px;
    border-radius: 10px;
    min-height: 50px;
    max-width: 300px;
}


.logo{
    height: 150px;
    width: 150px;
    margin-left: 80px;
    filter: invert(100);
}

.settingBtn{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settingBtn button{
    width: 300px;
}

.socialMedia{
    height: 74px;
    width: 100%;
    align-self: center;
    margin-top: 50px;
    margin-bottom: 50px;
}


.privacy{
    display: flex;
    flex-direction: row;
    color: white;
    padding-left: 10px;
    margin-top: 10px;
}

.privacy a{
    padding-left: 20px;
    text-decoration: none;
    color: white;
}

.onHover:hover{
    text-decoration: underline;
}


.address{
    padding-left: 10px;
    margin-top: 10px;
    color: white;
    line-height: 25px;
}


.secondCol{
    margin-top: 35px;
    color: white;
    display: flex;
    flex-direction: column;
    margin-left:200px;
    
}

.secondCol p{
    font-size: 20px;
    font-weight: bold;
}

.secondCol a{
    text-decoration: none;
    padding-top: 20px;
    color: white;
}