.searchField{
    
}

.searchHead{
    margin: 20px;
    font-size: 30px;
    padding-top: 60px;
    padding-bottom: 50px;
    text-align: center;
}

input{
    border: 2px solid black;
    border-radius: 25px;
    height: 50px;
    width: 600px;
    padding-left: 20px;
}

input:focus {
    outline: none !important;
    border:2px solid black;
}

input::placeholder {
    font-size: 1.2em;
}