.navigationBar{
    position: fixed;
    width: 100%;
    display: flex;
    flex-direction: row;
}

.navleft {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

.navright {
    padding: 20px;
    width: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}