.gallery-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
}

.post-card {
  margin: 15px;
  width: 400px;
  height: 275px;
  overflow: hidden;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 10px;
}

.post-image {
  max-width:100%;
  max-height:100%;
}

.post-body {
  margin-left: 10px;
}