@import url("https://use.typekit.net/zxa5oea.css");

body {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

h1 {
  font-family: uniwars, sans-serif;
  font-weight: 600;
  font-style: italic;
}

h2 {
  font-family: uniwars, sans-serif;
  font-weight: 600;
  font-style: italic;
}

h4 {
  font-family: forma-djr-micro, sans-serif;
  font-weight: 400;
  font-style: normal;
}

.search-bar-container {
  height: 100vh;
  background-image: url("https://hbr.org/resources/images/article_assets/2022/01/Jan22_03_1270015925.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 8%;
  color: white;
}

.clickable {
  cursor: pointer;
}

