.root-profile-container {
    height: 100vh;
    width: 100%;
}

.profile-container {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    background-image: url('../assets/homebg.jpeg');
    background-size: contain;
}

.profile-left {
    width: 60%;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    padding: 30px
}

.profile-right {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 30px;
    padding-top: 100px;
    padding-bottom: 50px;
}

.wallet {
    background-color: white;
    width: 100%;
    height: 100%;
    border-radius: 25px;

    display: flex;
    justify-content: center;
    align-items: center;
}