.view-content-container{
    max-width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.userPost{
    border: solid 1px #CFCECE;
    display: flex;
    flex-direction: column;
    width: 33%;
    max-height: 90%;
}
.userHeader img{
    width: 40px;
    align-self: center;
    padding-left: 10px;
}

.userHeader{
    display: flex;
    flex-direction: row;
    margin-top: 10px;
    margin-bottom: 10px;
}
.userHeaderInfo{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
}
.userHeaderInfo h4{
    font-weight: bold;
    font-size: 15px;
    margin-bottom: 0px;
}
.userHeaderInfo h5{
    font-size: 13px;
    margin-bottom: 0px;
    align-self: baseline;
}


.post-image{
    height: 90%;
}

.userPost p{
    padding-left: 10px;
    margin-bottom: 6px;
    font-family: "BM Hanna Pro";
    font-size: 20px;
}

.function-image{
    height: 45px;
    cursor: pointer;
}